 a:hover{
           color: white;
            font-weight: bold;
            text-decoration: none;
        }
.button{  
                     background-color:darkblue;
                     margin:10px; 
                     padding:10px; 
                     color:black;
                     text-align: right;
                     border:0.5px solid;
        }
        .buttons{  
                     background-color:darkblue;  
                     padding:10px; 
                     color:white;
                     border:0.5px solid;
                     text-align:center;
}